p { 
	text-align: justify;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
}

#p1, #p2{

	font-size: 15px;
	text-align: center;

}

.menu-opcoes{
	position: relative;
	width: 100%;
	font-size: 20px;
	border-radius: 50px 50px;
	
	display: flex;
	justify-content: center;

	
}

.menu-opcoes ul{
	list-style: none;
	position: relative;
	text-align: center;
	display: inline-block;
	
	
}
.menu-opcoes ul li{
	width: 105px;
	float: left;	
}

.menu-opcoes a{ /* Letras do menu */
	padding: 15px;
	display: block;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(255, 255, 255);
	border-radius: 15px 15px;
	
}

.menu-opcoes ul ul{
	position: relative;
	visibility: hidden;
		
}

.menu-opcoes ul li:hover ul{
	visibility:visible;

}

.menu-opcoes a:hover{
	background-color: #010042;
	color: rgb(255, 166, 0);
}

.menu-opcoes ul ul li{
	float: right;
	position:relative;
	text-align: center;
	float: left;
	/*border-bottom: solid 1px rgb(255, 255, 255);*/
}

h1 { 
	
	font-family:Arial, Helvetica, sans-serif;
	-webkit-text-stroke-color: black;
	-webkit-text-stroke-width: 2px;
	color:rgb(255, 208, 0);
	text-align: center 

}


body {
	color: white;
	background-image: url(fundo2.jpg);
	/*background-color: black;*/

	backdrop-filter: blur(2px);
	backdrop-filter: brightness(50%);
	border-radius: 15px;
	/*backdrop-filter: drop-shadow(4px 4px 10px blue);*/
}

.container{

	margin-top: -20% ;

}

.topcon {
	
	/*border-width: 3px;
	border-style: dashed;
	/*border-color: white;
	
	width: 100%;
	height: 40%;
	/*background: #000;*/
	
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	/*background-image: url(../img/peb.jpg);
	background-repeat: no-repeat;*/
	
	/*backdrop-filter: blur(18px);*/
	
	
}


/*.topcon2 {

	
	
} */

.logo{

	position: relative;
	margin-left: 20%;
	width: 65%;

}



.container {
	
	
	width: 100%;
	height: 800px;
	border: 4px;
	border-color: rgb(255, 217, 0);
	
	
	/*background-image: url(../img/peb.jpg);
	background-repeat: no-repeat;*/
	

	
	/*filter: blur(0.2px);
  -webkit-filter: blur(18px);
	
	
	
	/*background-repeat: no-repeat;*/
	
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	text-align: center;
	/*border-width: 3px;
	border-style: double;
	border-color: pink;*/

	
}

.info{
	
	text-align:center;
	
}

footer 
{
	clear: both;
	padding: 20px 0;
	color:white;
	margin-top:300px;
	font-family: Arial, Helvetica, sans-serif;
	
	
}

.rodape{
	position: relative;
	margin-bottom:15px;

}